<nav class="navbar bg-light navbar-light">
  <ul class="nav nav-pills">
    <li class="nav-item">
      <div class="navbar-head">
        <a href="#" class="navbar-brand">Recipe Book</a>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Recipes</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Shopping List</a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Manage</a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">Link 1</a>
        <a class="dropdown-item" href="#">Link 2</a>
        <a class="dropdown-item" href="#">Link 3</a>
      </div>
    </li>
  </ul>
</nav>